<h1>Search</h1>

<table width="100%">
  <tr>
    <th>
      <h3>User Search</h3>
    </th>
    <th>
      <h3>Micropost Search</h3>
    <td>
  </tr>
  <tr>
    <td>
      <%= form_tag users_path, :method => 'get', :class => 'search_form' do %>
        User: <%= text_field_tag :search %>
      <% end %>
    </td>
    <td>
      <%= form_tag microposts_path, :method => 'get', :class => 'search_form' do %>
        Text: <%= text_field_tag :search %>
      <% end %>
    </td>
  </tr>
</table>
