<tr>
  <td class = "micropost" >
    <% if controller.action_name == "index" %>
      <%= link_to gravatar_for(micropost.user), micropost.user %>
    <% end %>
    <span class = "content"><%= micropost.content %></span><br />
    <%= render 'shared/timestamp', :micropost => micropost %>
  </td>
  <td class = "delete">
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, :method => :delete, :confirm => "You sure?", :title => micropost.content %>
    </td>
  <% end %>
</tr>
